

#card-body:hover {
    opacity: 0.8;
    cursor: pointer;
}

#uv-index:hover {
    opacity: 0.8;
    cursor: pointer;
}

#uv-index {
    border: none;
    border-radius: 10px;
    height: 23px;
    width: 45px;
}

#image-city {
    height: 220px;
    width: 300px;
    position: absolute;
    left: 30rem;
    top: 0.7rem;
}

#select-city {
    width: 60px;
    height: 27px;
}

#city-input {
    height: 30px;
}

.navbar {
    height: 120px;
}

