

#card-body:hover {
    opacity: 0.8;
    cursor: pointer;
}

#uv-index:hover {
    opacity: 0.8;
    cursor: pointer;
}

#uv-index {
    border: none;
    border-radius: 10px;
    height: 23px;
    width: 45px;
}

#image-city {
    height: 220px;
    width: 300px;
    position: absolute;
    left: 30rem;
    top: 0.7rem;
}

#select-city {
    width: 60px;
    height: 27px;
}

#city-input {
    height: 30px;

}

h4 {
    margin-top: -140px;
}

#select-city {
    position: relative;
    top: 2px;
}

.form {
    display: flex;
    margin-top: -140px;
}

#history-section {
    padding-left: 60px;
}

#city-list {
    position: absolute;
    top: 75px;
}

#history-search:hover {
    opacity: 0.7;
    font-size: 12;
    border: black 1px ;
}

#history-search {
    height: 30px;
    font-size: 14px;
    color: black;
}

#image-city:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#clear-button {
    margin-left: 160px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 56.25em) {
    .form {
        margin-top: -25rem;
    } 
    #city-input {
        margin-top: 5px;
    }
    #history-search {
        position: absolute;
        left: -69.5px;
        top: 90px;
    }
    #image-city {
        display: none;
    }


}